<!DOCTYPE HTML>
<html>
    <body>
        <h1>Usage</h1>

        <ul>
            <li>
                /getCorgi/:id
                <br>
                Primești proprietățile corgiului cu Idul id,
            </li>
            <li>
                /getAllCorgis/
                <br>
                Primești toți corgii.
            </li>
            <li>
                /getCorgiFace/:id
                <br>
                Descarcă fața unui corgi.
            </li>
            <li>
                /getRandomCorgi
                <br>
                Primeste un caine random.
            </li>
        </ul>

        <h2>
            Structura caine
        </h2>
        <div>
           "dog" {
                "id" : "int",
                <br>
                "face" : "string",
                <br>
                "name" : "string",
                <br>
                "likes" : ["string"]
                <br>
            }
        </div>
    </body>
</html>